html {
  font-family: 'Raleway', sans-serif;
}

.img-flex {
  height: 100%;
}

.page-btn {
  background-color: #5980C9;
  border-radius: 15px;
  width: 10em;
  text-decoration: none;
  color: #fff;
}

input, textarea, select {
  border-radius: 15px;
  background-color: #DDEDFF;
  border: none;
}

input[type=radio] {
  width:
}

p {
  color: #707070;
}

.banner-img {
  max-width: 35em;
}

.banner-content {
  max-width: 25em;
  vertical-align: middle;
}

header {
  background-color: #5980C9;
}

@media only screen and (min-width: 60em) {

  .banner-img {
    max-width: 25em;
  }

  .features-container {
    vertical-align: center;
  }

}

@media only screen and (min-width: 90em) {

  .banner-img {
    max-width: 30em;
  }

  .banner-content {
    max-width: 35em;
  }

}
