html {
  font-family: 'Raleway', sans-serif;
}

.img-flex {
  height: 100%;
}

.page-btn {
  background-color: #5980C9;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  padding: .3em 1.1em;
}

input, textarea, select {
  border-radius: 15px;
  background-color: #DDEDFF;
  border: none;
}

p {
  color: #707070;
}

.banner-img {
  max-width: 35em;
}

.banner-content {
  max-width: 25em;
  vertical-align: middle;
}

.nav-link {
  color: #DDEDFF;
  margin-right: 1em;
}

.icon-label {
  color: #DDEDFF;
}

.ol-items {
  text-align: center;
}

.nav-link-sign-up {
  color: #5980C9;
  background-color: #DDEDFF;
  border-radius: 15px;
  padding: .3em 1.1em;
  margin-right: 0;
}

header {
  background-color: #5980C9;
}

@media only screen and (min-width: 38em) {

  .nav-link {
    margin-right: 2.5em;
  }

  .ol-items {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner-img {
    max-width: 25em;
  }

  .features-container {
    vertical-align: center;
  }

  .nav-link {
    margin-right: 6em;
  }

}

@media only screen and (min-width: 90em) {

  .banner-img {
    max-width: 30em;
  }

  .banner-content {
    max-width: 35em;
  }


}
