html {
  font-family: 'Raleway', sans-serif;
}

.img-flex {
  height: 100%;
}

.page-btn {
  background-color: #5980C9;
  border-radius: 15px;
  width: 10em;
  text-decoration: none;
  color: #fff;
}
